<!DOCTYPE html>
<html>
<head>
    <title>Messages</title>
    <link rel="stylesheet" href="/static/v2/style.css">
</head>

<body>
    <div class="dm-header">Messages</div>

    <div class="dm-list">
        {% for c in chats %}
        <a class="dm-item" href="/chat/{{ c.chat_id }}">
            <img src="{{ c.other.avatar }}" class="dm-avatar">

            <div class="dm-info">
                <div class="dm-user">{{ c.other.username }}</div>
                <div class="dm-last">{{ c.last_msg }}</div>
            </div>

            <div class="dm-time">{{ c.last_time }}</div>
        </a>
        {% endfor %}
    </div>

    <a href="/logout" class="logout-btn">Logout</a>
</body>
</html>
